@import "./../../variables";

.sub-main {
	
	section {
		
		table {
			text-align: left;

			.heading {
				margin:0;
			}
		}

		.heading {
			font-weight: bold;
			font-size: 35px;
			display: block;
			margin: 20px 0
		}

		.sub-heading {
			font-weight: bold;
			font-size: 20px;
			display: block;
			margin: 20px 0 10px 0;
		}

		.social-media {
			
			a {
				display: inline-block;
				font-size: 25px;
				margin: 10px 10px 0 0;
				transition: opacity 100ms ease;

				&:hover {
					opacity: 0.8;
				}

				&:active {
					opacity: 0.6;
				}
			}
		}
	}
}
