<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#0a97D9">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="/css/global/style.css">
	<link rel="stylesheet" href="/css/views/contact/style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/res/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/res/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/res/icons/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/res/icons/android-chrome-192x192.png">
	<link rel="manifest" href="/site.webmanifest">
	<title>Life Below Water | Contact</title>
</head>
<body>
	<header-component></header-component>
	<main>
		<div class="sub-main">
			<section>
				<table>
					<tr>
						<td>
							<span class="heading">Frequently Asked Questions</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="sub-heading">Q1: What is SDG Goal 14?</span>
							<p>A1: SDG Goal 14, known as "Life Below Water", aims to conserve and sustainably use the oceans, seas, and marine resources to support sustainable development worldwide.</p>
						</td>
					</tr>
					<tr>
						<td>
							<span class="sub-heading">Q2: Why is SDG Goal 14 important?</span>
							<p>A2: SDG 14 is vital because it addresses the preservation of marine ecosystems, which are essential for biodiversity, climate regulation, food security, and economic sustainability.</p>
						</td>
					</tr>
					<tr>
						<td>
							<span class="sub-heading">Q3: How can I contribute to SDG Goal 14 through your website?</span>
							<p>A3: Our website provides various ways to get involved, including volunteering opportunities, campaigns to support, and resources to educate yourself and others about marine conservation <a href="/views/resources.html">here</a>.</p>
						</td>
					</tr>
					<tr>
						<td>
							<span class="sub-heading">Q4: Are there resources available for educators and students on your website?</span>
							<p>A4: Yes, we offer educational materials, lesson plans, and resources tailored to students and educators interested in teaching and learning about marine conservation and SDG 14. See resources <a href="/views/resources.html">here</a>.</p>
						</td>
					</tr>
					<tr>
						<td>
							<span class="sub-heading">Q5: Can I donate to support your website's initiatives?</span>
							<p>A5: Absolutely. Your donations help fund our marine conservation projects and maintain this website as a valuable resource. Visit our <a href="/views/support-us.html">Support Us</a> page to contribute.</p>
						</td>
					</tr>
					<tr>
						<td>
							<span class="sub-heading">Q6: How can I stay updated on the latest developments in marine conservation and SDG 14?</span>
							<p>A6: You can stay informed by regularly checking our News and Updates section, subscribing to our newsletter, and following us on social media for real-time updates.</p>
						</td>
					</tr>
					<tr>
						<td>
							<span class="sub-heading">Q7: What kind of impact has your website made so far in advancing SDG Goal 14?</span>
							<p>A7: We regularly update our website with metrics and data on the impact of our initiatives and the collective efforts of our community, so you can see the difference your support makes.</p>
						</td>
					</tr>
					<tr>
						<td>
							<span class="sub-heading">Q8: How can I contact your organization for further inquiries or feedback?</span>
							<p>A8: You can reach out to us through our <a href="#contacts">Contact</a> page, where you'll find our contact information and a convenient contact form for any questions or feedback you may have.</p>
						</td>
					</tr>
				</table>
			</section>
			<section>
				<span class="heading" id="contacts">Contact Us</span>
					<p>Tel: +603-29573824<br>Fax: +60-1-26060-5830</p>
					<div class="social-media">
						<a href="https://www.instagram.com/ryantang2004/">
							<span class="fa-brands fa-instagram"></span>
						</a>
						<a href="https://www.facebook.com/tang.bryan.31">
							<span class="fa-brands fa-facebook"></span>
						</a>
						<a href="https://github.com/vinc3w/Life-Below-Water">
							<span class="fa-brands fa-github"></span>
						</a>
					</div>
			</section>
		</div>
	</main>
	<footer-component></footer-component>
</body>
<script src="/components/header.js" type="module"></script>
<script src="/components/footer.js" type="module"></script>
<script src="/js/contact-us.js" type="module"></script>
</html>