<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Life Below Water | References</title>
</head>
<body>
	<h1>References</h1>
	<ul>
		<li><a href="https://sdgs.un.org/news ">https://sdgs.un.org/news</a></li>
		<li><a href="https://www.philanthropy.com/article/nonprofits-can-now-add-a-donate-button-to-their-zoom-events ">https://www.philanthropy.com/article/nonprofits-can-now-add-a-donate-button-to-their-zoom-events</a></li>
		<li><a href="https://alliance2030.ca/ ">https://alliance2030.ca/</a></li>
		<li><a href="https://www.17goalsmagazin.de/ ">https://www.17goalsmagazin.de/</a></li>
		<li><a href="https://www.un.org/en/ ">https://www.un.org/en/</a></li>
		<li><a href="https://globalgoalscms.co.uk/ ">https://globalgoalscms.co.uk/</a></li>
		<li><a href="https://www.weforum.org/ ">https://www.weforum.org/</a></li>
		<li><a href="https://www.youtube.com/watch?v=A1AZima5qN0 ">https://www.youtube.com/watch?v=A1AZima5qN0</a></li>
		<li><a href="https://www.youtube.com/watch?v=rXbEZzsWnOE ">https://www.youtube.com/watch?v=rXbEZzsWnOE</a></li>
		<li><a href="https://www.youtube.com/watch?v=bseQm52H7gU ">https://www.youtube.com/watch?v=bseQm52H7gU</a></li>
		<li><a href="https://youtu.be/EkQLwcYhBu4?si=BlKLH_tQXIOTJXQo ">https://youtu.be/EkQLwcYhBu4?si=BlKLH_tQXIOTJXQo</a></li>
	</ul>
</body>
</html>