<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#0a97D9">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="/css/global/style.css">
	<link rel="stylesheet" href="/css/views/resources/style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/res/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/res/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/res/icons/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/res/icons/android-chrome-192x192.png">
	<link rel="manifest" href="/site.webmanifest">
	<title>Life Below Water | Resources</title>
</head>
<body>
	<header-component></header-component>
	<main>
		<div class="sub-main">
			<iframe src="https://www.youtube.com/embed/pMp2raQ3pwg" title="Understand Goal 14: Life Below Water (Primary)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			<section>
				<span class="heading">Images</span>
				<div class="container" id="image-container"></div>
			</section>
			<section>
				<span class="heading">Videos</span>
				<div class="container" id="video-container"></div>
			</section>
		</div>
	</main>
	<footer-component></footer-component>
</body>
<script src="/components/header.js" type="module"></script>
<script src="/components/footer.js" type="module"></script>
<script src="/js/resources.js" type="module"></script>
</html>