<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#0a97D9">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="/css/global/style.css">
	<link rel="stylesheet" href="/css/views/support-us/style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/res/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/res/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/res/icons/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/res/icons/android-chrome-192x192.png">
	<link rel="manifest" href="/site.webmanifest">
	<title>Life Below Water | Support Us</title>
</head>
<body>
	<header-component></header-component>
	<main>
		<div class="sub-main">
			<img class="banner top" src="/res/images/banner.png" alt="banner">
			<div class="bottom">
				<p class="left">Your contribution to SDG Goal 14 is vital for preserving our oceans and marine life. Your support helps fund research, conservation, and education efforts, bringing us closer to our goal. Join us in making a difference today and ensure a sustainable future for our oceans. Thank you for your generosity.</p>
				<div class="content right">
					<section>
						<span class="heading">Frequency</span>
						<div class="btn-container">
							<div class="select-btn"><span>One Time</span></div>
							<div class="select-btn"><span>Monthly</span></div>
						</div>
					</section>
					<section>
						<span class="heading">Choose Amount</span>
						<div class="btn-container">
							<div class="select-btn"><span>MYR 1</span></div>
							<div class="select-btn"><span>MYR 5</span></div>
							<div class="select-btn"><span>MYR 10</span></div>
							<div class="input">
								<div class="dollar"><span class="fa fa-dollar"></span></div>
								<input type="number" placeholder="Other Amount">
							</div>
						</div>
					</section>
					<section>
						<span class="heading">Frequency</span>
						<div class="btn-container">
							<div class="select-btn"><span>One Time</span></div>
							<div class="select-btn"><span>Monthly</span></div>
						</div>
					</section>
					<div class="submit-btn" id="submit-btn"><span>Donate</span></div>
				</div>
			</div>
		</div>
	</main>
	<footer-component></footer-component>
</body>
<script src="/components/header.js" type="module"></script>
<script src="/components/footer.js" type="module"></script>
<script src="/js/support-us.js" type="module"></script>
</html>